<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Project Dijkstra</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
<div th:replace="fragments :: header"></div>
<div class="container">
	<div class="page-header">
		<h1>An Error Occurs!</h1>
	</div>
	<p> 予期せぬエラーが発生しました！ホームページに戻ってください。</p>
	<div class="list-group">
	  <a class="list-group-item list-group-item-action" href="/about">確認</a>
	</div>

</div>
	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
